services:
  api-gateway:
    build: .
    container_name: api-gateway
    ports:
      - "3000:3000"
    depends_on:
      - rabbitmq
      - redis
    environment:
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
      - REDIS_URL=redis://redis:6379
      - RABBITMQ_EXCHANGE=notifications.direct

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672" # web UI

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
